---
// This is the form itself.
//  I put in the hidden field manually, I don't trust Netlify ?

---

<form action="/form-success/" name="contact" method="POST" netlify>
<!-- put in the hidden field anyway! -->
  <input type="hidden" name="form-name" value="contact">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
    <label>Your Email: <input type="email" name="email" /></label>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
